@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(to bottom right, #0f172a, #1e293b, #0f172a);
  min-height: 100vh;
}
